<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="mt-20 w-[500px] h-min p-5 rounded-xl shadow-lg bg-lime-300 flex flex-col gap-4 mx-auto items-center">
    <div class="text-2xl font-bold">Welcome</div>
    <%= render "shared/input", {form_entity: resource_name, form_field: :email} %>
    <%= render "shared/input", {form_entity: resource_name, form_field: :password} %>
    <%= render "shared/input", {form_entity: resource_name, form_field: :password_confirmation} %>
    <%= f.submit "Sign up", class: "btn-primary min-w-[100%]" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>


