<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mt-20 w-[500px] h-min p-5 rounded-xl shadow-lg bg-lime-300 flex flex-col gap-4 mx-auto items-center">
    <div class="text-2xl font-bold">Hello, again!</div>
    <%= render "shared/input", {form_entity: resource_name, form_field: :email} %>
    <%= render "shared/input", {form_entity: resource_name, form_field: :password} %>
    <%= f.submit "Log in", class: "btn-primary min-w-[100%]" %>
    <% if devise_mapping.rememberable? %>
      <div class="flex w-[100%] font-semibold items-center justify-between gap-2">
        <%= render "shared/checkbox", {form_entity: :resource_name, form_field: :remember_me} %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>


<% end %>