<%= form_with model: @post do |form| %>
  <% if form.object.errors.any? %>
    <% alert_messages = form.object.errors.full_messages.each.to_a.join(", ")  %>
    <%= render "shared/alert", alert: alert_messages.capitalize %>
  <% end %>
  <div class="w-[720px] p-5 rounded-xl shadow-lg bg-lime-300 flex flex-col gap-4 items-center">
    <%= render "shared/input", {form_entity: :post, form_field: :title} %>

    <%= form.rich_text_area :content, class: "w-[100%]  bg-white rounded-xl border border-0" %>

    <div class="flex w-[100%] items-center gap-2">
      <%= form.datetime_select :published_at %>
    </div>


    <%= form.button class: "btn-primary w-[100%]" %>
  </div>
<% end %>