<div class="mt-10 max-w-[1600px] w-min mx-auto p-5 rounded-xl shadow-lg bg-lime-300 flex flex-col gap-4 items-center">
  <div class="w-[100%] text-center font-bold text-2xl overflow-hidden whitespace-pre-wrap break-words"><%= @post.title %></div>
  <div class="w-[100%] overflow-hidden">
    <%= @post.content.body %>
  </div>
  <div class="flex w-[100%] items-center justify-between">
    <%= link_to "Back", posts_path, class: "btn-primary" %>
    <% if @is_user_post %>
      <div class="flex gap-2">
        <%= button_to "Delete", @post, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn-danger" %>
        <%= link_to "Edit", edit_post_path(@post), class: "btn-outlined" %>
      </div>
    <% end %>
  </div>
</div>